

.lista-suspensa{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-suspensa select{
    padding: 5px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: #191919;
    color: #fff;
}